.play {
width: 300px;
}



button{
  width: 100px;
  height: 100px;
}


#red {
  border-top-left-radius: 100%;
  background-color: red;
}

#blue {
  border-top-right-radius: 100%;
  background-color: blue;
}

#green {
  border-bottom-left-radius: 100%;
  background-color: green;
}

#yellow {
  border-bottom-right-radius: 100%;
  background-color: yellow;
}
